  /* Exemplo de CSS */
  title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    font-weight: bold;
    color: #dcee8ea8;
  }

  body {
    background-color: #dcee8ea6;
  }

  h1 {
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 6px solid #ec1212;
    font-size: 64px; 
  }

  h3
  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    color: #7c0101e8;
  }

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 200px;
}
 video {
    margin-top: 50px
  }
  audio {
    margin-top: 50px
  }

  a  {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px
  }
  img {
      margin-top: 50x;
    }
  table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 70;
  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }


  

