body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dcee8ea6;
}
header {
    background-color: #333;
    color: rgba(247, 241, 241, 0.767);
    padding: 1rem;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    max-width: 800px;
    background-color: rgb(186, 226, 192);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.form-group {
    margin-top: 20px;
    text-align: center;
}
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
button {
    background-color: #4CAF50;
    border: none;
    color: rgb(174, 231, 152);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
}